{% extends "base.html" %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Food Start -->
<div class="food mt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Burgers</h2>
                    <p>
                        Burgers are popular fast food items made with a bun, patty, vegetables, and sauces, enjoyed as a quick and tasty meal.
                    </p>
                    <a href="/dishes">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Snacks</h2>
                    <p>
                        Snacks are small, tasty foods eaten between meals like chips, samosas, sandwiches, biscuits, and pakoras to satisfy hunger quickly.
                    </p>
                    <a href="/dishes">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Beverages</h2>
                    <p>
                        Beverages are drinks like water, juice, tea, coffee, and soft drinks that help refresh the body and quench thirst.
                    </p>
                    <a href="/dishes">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Pizza</h2>
                    <p>
                        Pizza is a popular Italian dish made with a bread base topped with cheese, sauce, and various delicious toppings baked hot.
                    </p>
                    <a href="/dishes">View Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Food End -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/static/img/about.jpg" alt="Image">
                    <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>About Us</p>
                        <h2>Cooking Since 2024</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Kumhrar Point Restaurant is a well-known place in Patna, located in the Kumhrar area. It offers a variety of tasty dishes, including Indian, Chinese, and fast food. The restaurant has a clean and comfortable environment, friendly staff, and is perfect for enjoying meals with family and friends at affordable prices.
                        </p>
                        <p>
                            It offers fresh and tasty food with simple seating and a relaxed vibe.
                        </p>
                        <a class="btn custom-btn" href="">Book A Table</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>        
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Video Modal End -->
{% endblock %}